header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-title {
    width: auto;
    height: 80px;
    padding: 0 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**/

    background-color: #405A77;
    color: #fff;
}

table {
    width: auto;
}

a {
    cursor: pointer;
}

.btn-add-doc {
    width: 175px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background-color: rgb(74, 173, 74);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-update,
.btn-delete {
    margin: 8px 0;
    padding: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

.btn-update {
    width: 145px;
    background-color: yellow;
    text-decoration: none;
    color: black;
}

.btn-delete {
    width: 145px;
    background-color: red;
}

main {
    width: 1200px;
    height: auto;
    margin: 25px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr {
    background-color: #eaeaeabe;
    margin: 0;
    padding: 0;
}

td {
    padding: 8px;
}

/*
input {
    width: 155px;
    height: 50px;
    margin: 0 15px;
}
*/
form {
    width: 100%;
    height: 100%;
}

.icon-block {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background-color: #fff;

    /*position: fixed;
    top: 0;
    left: 0;*/
}

.icon-card {
    width: 25px;
    height: 25px;
    margin: 8px;
    padding: 6px;
    background-color: #405A77;
    color: #fff;
    border-radius: 50%;
}

a {
    color: #fff;
}

.btn-delete {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    position: absolute;
}

.selected {
    color: #fff;
    background-color: #405A77 !important;
}