<header>
    <h3 class="title">
        Реквизиты входящего документа
    </h3>
    <a class="add-btn-back" href="/">
        Выход
    </a>
</header>
<section class="add-doc">
    <form class="add-form">
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
                <p class="title">Тема*</p>
                <mat-form-field class="add-textarea">
                    <mat-label></mat-label>
                    <textarea matInput maxlength="100" rows="4" cols="100" placeholder="Введите тему"
                        [formControl]="themeReg" id="theme"></textarea>
                    @if (themeReg.hasError('required')) {
                    <mat-error>Заполните поле</mat-error>
                    }
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Регистрационный номер*: </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-block">
                    <input matInput id="numberReg" [formControl]="numberReg">
                    @if (numberReg.hasError('required')) {
                    <mat-error>Заполните поле</mat-error>
                    }
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Дата регистрации*: </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-block">
                    <input matInput type="date" id="dataReg" [formControl]="dateReg">
                    @if (dateReg.hasError('required')) {
                    <mat-error>Заполните поле</mat-error>
                    }
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title"> Номер исходного документа: </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-block">
                    <input matInput id="numberDoc">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Дата исходного документа</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-block">
                    <input matInput type="date" id="dataDoc">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
                <p class="title">Корреспондент*</p>
                <mat-form-field class="dropdown-correspondent">
                    <mat-select [formControl]="optionControl" required>
                        @for(item of items; track item){
                        <mat-option [value]="item.value" id="correspondent">{{ item.viewValue }}</mat-option>
                        }
                    </mat-select>
                    @if(optionControl.hasError('required')){
                    <mat-error>Заполните поле</mat-error>
                    }
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Форма доставки</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-dropdown">
                    <mat-select>
                        @for(option of options; track option){
                        <mat-option [value]="option.value" id="formOfDelivery">{{option.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Сроки исполнения</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="my-block">
                    <input matInput type="date" id="deadline">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
                <p class="title">Описание</p>
                <mat-form-field class="description">
                    <textarea matInput maxlength="1000" rows="4" cols="100" placeholder="Введите описание"
                        id="description"></textarea>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Доступ</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-radio-group aria-label="Доступ">
                    <mat-radio-button value="1" id="access-y">Да</mat-radio-button>
                    <mat-radio-button value="2" id="access-n">Нет</mat-radio-button>
                </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="title-block">
                    <p class="title">Контроль</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-radio-group aria-label="Контроль" id="control">
                    <mat-radio-button value="1" id="control-y">Да</mat-radio-button>
                    <mat-radio-button value="2" id="control-n">Нет</mat-radio-button>
                </mat-radio-group>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="btn-block">
            <button type="submit" id="addBtn" class="btn-add">Изменить</button>
        </div>

    </form>

</section>